<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="./logs/nlog_internal.log">

  <targets>
    <!-- ファイル -->
    <target name="UserBuffer" xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="1000">
      <target name="userLog"
           xsi:type="File"
           encoding="UTF-8"
           writeBom="true"
           lineEnding="Default"
           layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite} ${message} ${exception:format=tostring}"
           fileName="./logs/User/${var:FileName}.log"
           archiveFileName="../logs/backup/${processname}_{###}.log"
           archiveEvery="Day"
           archiveNumbering="Sequence"
           maxArchiveFiles="10" />
    </target>

    <target name="SystemBuffer" xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="1000">
      <target name="systemLog"
            xsi:type="File"
            encoding="UTF-8"
            writeBom="true"
            lineEnding="Default"
            layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite} ${message} ${exception:format=tostring}"
            fileName="./logs/System/${var:FileName}.log"
            archiveFileName="../logs/backup/${processname}_{###}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" />
    </target>    
  </targets>
  <rules>
    <logger name="User" minlevel="Trace" writeTo="UserBuffer" />
    <logger name="System" minlevel="Trace" writeTo="SystemBuffer" />
    
  </rules>
</nlog>